<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>


  <div id="container">
    <ion-title class="title">Créez votre alerte</ion-title>
    <ion-img [src]="selectedImage" class="image"></ion-img>
    <ion-button (click)="showEditPopup()">Téléchargez votre image</ion-button>
    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-textarea autoGrow="true" [formControl]="textForm.controls.text"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Commune</ion-label>
      <!-- <ion-input [formControl]="textForm.controls.township"></ion-input> -->
      <ionic-selectable item-content [formControl]="textForm.controls.township" itemValueField="id" itemTextField="name" [items]="townships" [canSearch]="true"
		 (onChange)="townshipChange($event)">
		</ionic-selectable>
    </ion-item>
    <ion-button class="goButton" size="small" slot="end" (click)="sendAlert()">Go!</ion-button>

  </div>
</ion-content>
